= form_for @todo do |f|
  -if @todo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@todo.errors.count, "error")} prohibited this todo from being saved:"
      %ul
        - @todo.errors.full_messages.each do |msg|
          %li= msg

  .field
    = hidden_field_tag :tags, params[:tags]
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :tag_list
    = f.text_field :tag_list, :value => params[:tags]
  .field
    = f.label :notes
    = f.text_area :notes
  .field
    = f.label :completed
    = f.check_box :completed
  .actions
    = f.submit 'Save', :class => 'btn btn-primary'
