%h1 Things To Do

%ul#todos
  %li= link_to 'New Todo', new_todo_path({ :tags => params[:tags] }), :'data-pjax' => '#info'
  - @todos.each do |todo|
    %li{ :'data-id' => todo.id }
      = best_in_place todo, :completed, :type => :checkbox,
        :collection => [ '|_|', '|x|']
      = link_to "#{todo.title} <span class='tags'>#{todo.tag_list}<span>".html_safe, todo_path(todo, params.merge({ :tags => params[:tags] })), :'data-pjax' => '#info'
