%h1 Things To Do

= link_to 'New Todo', new_todo_path, :'data-pjax' => '#info'

= content_for :tag_list do
  %ul
    - @todos.map(&:tag_list).flatten.sort.each do |tag|
      %li= tag

%ul#todos
  - @todos.each do |todo|
    %li{ :'data-id' => todo.id }
      = best_in_place todo, :completed, :type => :checkbox,
        :collection => [ '|_|', '|x|']
      = link_to "#{todo.title} <span class='tags'>#{todo.tag_list}<span>".html_safe, todo, :'data-pjax' => '#info'
