%p#notice= notice

%p
  %b Title:
  = @todo.title
%p
  %b Notes:
  = @todo.notes
%p
  %b Completed:
  = @todo.completed

= link_to 'Edit', edit_todo_path(@todo), :'data-pjax' => '#content'
\|
= link_to 'Back', todos_path
