<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Tagatodo</title>

    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <div class='navbar navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container'>
          <%= link_to 'Tagatodo', root_path, :class => 'brand' %>

          <ul class='nav pull-left'>
            <li><%= link_to 'All', root_path %></li>
            <li><%= link_to 'Active', root_path(:completed => false) %></li>
            <li><%= link_to 'Completed', root_path(:completed => true) %></li>
          </ul>

          <ul class='nav pull-right'>
            <% if current_user %>
              <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class='container wrapper'>
      <div class='row-fluid'>
        <div id='tags' class='span2'>
        </div>

        <div id='content' class='span6'>
          <% if notice %>
            <p class='alert alert-info'><%= notice %></p>
          <% end %>

          <% if alert %>
            <p class='alert alert-error'><%= alert %></p>
          <% end %>

          <%= yield %>
        </div>
        
        <div id='info' class='span4'>
        </div>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
