<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Tagatodo</title>

    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <div class='navbar navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container'>
          <%= link_to 'Tagatodo', root_path, :class => 'brand' %>

          <ul class='nav pull-right'>
            <li>
              <%= link_to 'New Todo', new_todo_path, :'data-pjax' => '#content' %>
            </li>

            <li class='divider-vertical'></li>

            <% if current_user %>
              <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div id='content' class='container'>
      <% if notice %>
        <p class='alert alert-info'><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class='alert alert-error'><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

    <%= javascript_include_tag 'vendor/jquery-1.8.0.min',
                               'vendor/jquery.pjax' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
